.button {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    }

.button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;}

.rig{
    padding-left: 10px;
    position: relative;
    top: 10px;
}




.centr{
    margin: 0 auto;
    width: 260px;
}

.result{
    margin: 0 auto;
    width: 250px;

}