<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add info</title>
</head>
<body>
    <p>
        <a href="main_page">
            Back
        </a>
    </p>
    <center>
        <form action="{% url 'add_more_information' %}" method="POST">
            {{form.as_p}}<br>
            <button type="submit">
                Post
            </button>
        </form>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </center>
</body>
</html>