<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/main.css' %}">
</head>
<body>
    <div>
            <h3>

                Hi , {{user.username}} !

            </h3>
    </div>

    <div>

        <p>

          <a href="your_profile" class="button">

              Your profile

          </a>

        </p>
    </div>


      <div>

          <p>

              <a href="post_song" class="button">

                  Post song

              </a>

          </p>
      </div>

      <p>
          <a href="search_user" class="button">

              Search users

          </a>
      </p>

          <div>
            <p>
                <a href="post_album" class="button">

                    Post album

                </a>
            </p>
        </div>

        <p>
            <a class="button" href="add_post">
                Suggest news
            </a>
        </p>



        <div>
              <p>

                <a href="login" class="button">

                    Logout

                </a>

              </p>
        </div>
<hr>

<center>
    <div class="posts">
        {% for post in view_posts %}
            <a href="{%  url 'other_user_profile' post.user.id %}" class="user">
                {{post.user}}
            </a><br>
            {{post.date_post}}<br>
            {{post.post}}<br>
            <hr>
        {% endfor %}
    </div>


</center>

<center>

    <div class="down">

        {% if view_posts.has_previous %}
            <h3>
              <a href="?page={{ view_posts.previous_page_number }}"> Previous</a>
                    Page {{ view_posts.number }} of {{ view_posts.paginator.num_pages }}
                <a href="?page=1"> &laquo First </a>
            </h3>
        {% endif %}



        {% if view_posts.has_next %}
            <h3>
                <a href="?page={{ view_posts.next_page_number }}">
                    Next
                </a>

                    Page {{ view_posts.number }} of {{ view_posts.paginator.num_pages }}
                <a href="?page={{ view_posts.paginator.num_pages }}">
                    Last &raquo
                </a>
            </h3>

        {% endif %}

    </div>

</center>
</body>
</html>