<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> {{user.username}} Page</title>
</head>
<body>
    <h3>
        {{user}}
    </h3>
    <p>
        <a href="{% url 'search_user' %}">
            Back
        </a>
    </p>
    <center>
        <p>
            {% for user_post in user_posts %}
        <h3>{{user_post.name_song}}</h3><br>
                <audio controls><source src="{{user_post.song.url}}" type="audio/mpeg"><br>
                </audio>
            {% endfor %}
        </p><br>

        <p>
            {% for album in user_album %}
                <h3>{{album.name_album}}</h3><br>
                <audio controls>
                    <source src="{{album.album.url}}" type="audio/mpeg"><br>
                </audio>
            {% endfor %}
        </p>

    </center>

</body>
</html>