<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{user.username}}</title>
</head>
<body>
    <h3>
        {{user}}
    </h3>
    <center>
        <p>
            {% for user_post in user_posts %}
                <audio controls>
                    <source src="media/media/"><br>
                </audio>
            {% endfor %}
        </p><br>

        <p>
            {% for album in user_album %}
                {{album.name_album}} : {{album.album}}<br>
            {% endfor %}
        </p>

    </center>

</body>
</html>