<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> {{user.username}} Page</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/other_user_profile.css' %}">
</head>
<body>
    <h3>
        {{user}}
    </h3>
    <p>
        <a href="{% url 'search_user' %}" class="button">
            Back
        </a>
    </p>

    <p>
        <a href="{% url 'songs' user.id %}" class="button">
            Songs
        </a>
    </p>

    <p>
        <a href="{% url 'albums' user.id %}" class="button">
            Albums
        </a>
    </p>

    <p>
        {% for link in more_info %}
            <a href="{{link.first_link}}">
                {{link.first_link}}
            </a><br>

            <a href="{{link.second_link}}">
                {{link.second_link}}
            </a><br>

                {{link.email}}<br>

        {% endfor %}
    </p><br>
<hr>

<center>
    {% for post in posts_of_user %}
        {{post.date_of_post}}<br>
        {{post.post}}<br>
    {% endfor %}
</center>

    <div class="down">


        {% if posts_of_user.has_previous %}
            <a href="?page=1">
                &laquo First
            </a><br>

            <a href="?page={{ posts_of_user.previous_page_number }}">
                Previous
            </a>
        {% endif %}

        Page {{ posts_of_user.number }} of {{ posts_of_user.paginator.num_pages }}

        {% if posts_of_user.has_next %}
            <a href="?page={{ posts_of_user.next_page_number }}">
                next
            </a><br>

            <a href="?page={{ posts_of_user.paginator.num_pages }}">
                >Last &raquo
            </a>


        {% endif %}
    </div>
</body>
</html>