<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} albums</title>
</head>
<body>

    <p>
        {% for a in al %}
            {{a.name_song}}<br>

            <audio controls>
                <source src="{{a.album.url}}" type="audio/mpeg">
            </audio>

        {% endfor %}
    </p>

    <p>
        {% if al.has_previous %}
            <a href="?page=1">
            &laquo First
            </a><br>

            <a href="?page={{ al.previous_page_number }}">
            Previous
            </a>
        {% endif %}

        Page {{ al.number }} of {{ al.paginator.num_pages }}

        {% if al.has_next %}
            <a href="?page={{ al.next_page_number }}">
                next
            </a><br>

            <a href="?page={{ al.paginator.num_pages }}">
            >Last &raquo
            </a>

        {% endif %}
    </p>

</body>
</html>