<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{user.username}} songs</title>
</head>
<body>
    <p>
        {% for p in g %}
            {{p.name_song}}<br>

            <audio controls>
                <source src="{{p.song.url}}" type="audio/mpeg">
            </audio>

        {% endfor %}
    </p>

    <p>
        {% if g.has_previous %}
            <a href="?page=1">
            &laquo First
            </a><br>

            <a href="?page={{ g.previous_page_number }}">
            Previous
            </a>
        {% endif %}

        Page {{ g.number }} of {{ g.paginator.num_pages }}

        {% if g.has_next %}
            <a href="?page={{ g.next_page_number }}">
                next
            </a><br>

            <a href="?page={{ g.paginator.num_pages }}">
            >Last &raquo
            </a>

        {% endif %}
    </p>

</body>
</html>