<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Post song</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/post_song.css' %}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</head>

<body>
    <p class="right">
        <a href="main_page" class="button">
            Back
        </a>
    </p>

    <div class="main">
        <form action="{% url 'post_song' %}" method="POST" enctype="multipart/form-data">

            <p class="form">
                <label>
                    Name song
                </label>
                <input type="text" name="name_song">
            </p>

            <p class="form">
                <label>
                    Song
                </label>
                <input type="file" name="song">
            </p>

            <p class="form">
                <input type="submit" value="submit">
            </p>
            <center>
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            </center>
        </form>
    </div>
</body>
</html>