<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post album bitch</title>
</head>
    <style>
    </style>



<body>
    <form action="{% url 'post_album' %}" method="post" enctype="multipart/form-data">
        <p>
            <center>
                    {{ form.as_p }}
            </center>
        </p>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <p>
            <input type="submit" value="post">
        </p>
    </form>
</body>
</html>