<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find users</title>
</head>
<body>
    <p>
        <a href="main_page">
            Back
        </a>
    </p>

    <center>
        <form action="{% url 'search_user' %}" method="POST">
            {% csrf_token %}
            <input type="text"   name="username"  placeholder="Search by username"><br>
            <input type="submit" value="search"><br>
            <p>
                {% for result in results %}
                    {{username}}
                {% endfor %}
            </p>
        </form>
        <center>
                {% for result in results %}
                    <a href="{% url  'other_user_profile' result.id %}">
                        {{result}}<br>
                    </a>
                {% endfor %}
        </center>

    </center>

    <center>
        {% for user in users %}<br>
            <a href="{% url 'other_user_profile' user.id %}">{{user.username}}</a><br>
        {% endfor %}

        <p>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </p>
    </center>


</body>
</html>