<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Song</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/song_page.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>

<body>

<p class="topp">
        <a href="your_profile" class="button">
            Back to profile
        </a>
</p>


<p class="padd">

  <a href="delete_song" class="button">

      Delete song

  </a>

</p>



<center>
    <p>
        {% for song in songs %}
            {{song.name_song}}<br>

            <audio controls>

            <source src="{{song.song.url}}" type="audio/mpeg">

            </audio>
        {% endfor %}
    </p>
</center>

<hr>

<ul class="pagination">

    {% if songs.has_previous %}

        <li>
             <a  class="page-link" href="?page=1">
            First
            </a>
        </li>

        <li>
            <a class="page-link"  href="?page={{ songs.previous_page_number }}">
            Previous
            </a>
        </li>

    {% endif %}

        <li><a class="page-link">Page {{ songs.number }}
            of
            {{ songs.paginator.num_pages }}</a></li>


    {% if songs.has_next %}
        <li>

            <a class="page-link"  href="?page={{ songs.next_page_number }}">
                Next
            </a>
        </li>

        <li>

            <a class="page-link"   href="?page={{ songs.paginator.num_pages }}">
                Last
            </a>

        </li>
    {% endif %}
</ul>

</body>
</html>