<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/your_profile.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <p class="gpad">
        <a href="main_page" class="button">
            Back
        </a>
    </p>

    {% for message in message %}
        {{message}}
    {% endfor %}

    <p class="gpad">
        <a href="view_songs" class="button">
            Songs
        </a>
    </p>

    <p class="gpad">
        <a href="view_albums" class="button">
            Albums
        </a>
    </p>

    <p class="gpad">
        <a href="post_news" class="button">
            Add post
        </a>
    </p>

    {% if not info %}
            <p class="gpad">

                 <a href="add_more_information" class="button">
                     Add more information
                 </a>
            </p>
    {% else %}
        {% for link in info %}
                 <section>
                     <a href="{{link.first_link}}">
                        {{link.first_link}}
                     </a>
                 </section><br>

                  <section>
                        <a href="{{link.second_link}}">
                            {{link.second_link}}
                        </a>
                  </section><br>

                   <section>{{link.email}}</section>
        {% endfor %}
    {% endif %}<br>
<hr>
    <div class="posts">
        {% for post in posts %}
            {{post.date_of_post}}<br>
            {{post.post}}<br>
            <center>
                 <a href="{% url 'delete_news' post.id %}" class="button">
                    Delete
                </a><br>

                <a href="{% url 'update_post' post.id %}" class="button">
                    Edit
                </a>
            </center>
            <hr>
        {% endfor %}
    </div>


    <ul class="pagination">

        {% if posts.has_previous %}

            <li>
                 <a  class="page-link" href="?page=1">
                First
                </a>
            </li>

            <li>
                <a class="page-link"  href="?page={{ posts.previous_page_number }}">
                Previous
                </a>
            </li>

        {% endif %}

            <li><a class="page-link">Page {{ posts.number }}
                of
                {{ posts.paginator.num_pages }}</a></li>


        {% if posts.has_next %}
            <li>

                <a class="page-link"  href="?page={{ posts.next_page_number }}">
                    Next
                </a>
            </li>

            <li>

                <a class="page-link"   href="?page={{ posts.paginator.num_pages }}">
                    Last
                </a>

            </li>
        {% endif %}
    </ul>













</body>
</html>