<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <link rel="stylesheet" href="{% static 'main_pg/css/your_profile.css' %}">
</head>
<body>
    <p>
        <a href="main_page" class="button">
            Back
        </a>
    {% for message in message %}
        {{message}}
    {% endfor %}
    </p>

    <p>
        <a href="view_songs" class="button">
            Songs
        </a>
    </p>

    <p>
        <a href="view_albums" class="button">
            Albums
        </a>
    </p>

   <p>
        <a href="post_news" class="button">
            Add post
        </a>
    </p>

    {% if not info %}
             <a href="add_more_information" class="button">
                 Add more information
             </a>
    {% else %}
        {% for link in info %}
                 <section>
                     <a href="{{link.first_link}}">
                        {{link.first_link}}
                     </a>
                 </section><br>

                  <section>
                        <a href="{{link.second_link}}">
                            {{link.second_link}}
                        </a>
                  </section><br>

                   <section>{{link.email}}</section>
        {% endfor %}
    {% endif %}<br>
<hr>
    <center>
        <p>
            {% for post in posts %}
                {{post.date_of_post}}<br>
                {{post.post}}<br>
                <hr>
            {% endfor %}
        </p>
    </center>

<center>
    <div class="down">

        {% if posts.has_previous %}
            <h3>
                <a href="?page={{ posts.previous_page_number }}">
                    Previous<|
                </a>

                Page {{ posts.number }} of {{ posts.paginator.num_pages }}

                <a href="?page=1">
                    <|&laquo First
                </a>
            </h3>
        {% endif %}


        {% if posts.has_next %}
            <h3>

                <a href="?page={{ posts.next_page_number }}">
                    Next>|
                </a>
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}

                <a href="?page={{ posts.paginator.num_pages }}">
                    >|Last &raquo
                </a>
            </h3>

        {% endif %}
    </div>
</center>

</body>
</html>