<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
</head>
    <style>
          .button {
            border: 1px solid #333;
            display: inline-block;
            padding: 5px 15px;
            text-decoration: none;
            color: #000;
          }


           .button:hover {
                box-shadow: 0 0 5px rgba(0,0,0,0.3);
                background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
                color: #a00;
           }
    </style>
<body>
    <p>
        <a href="main_page">
            Back
        </a>

        <p class="button">

          <a href="delete_song" class="button">

              Delete song

          </a>

        </p>

    {% for message in message %}
        {{message}}
    {% endfor %}
    <!--    <center>
            <a href="add_more_information">
                Add more information
            </a>
        </center> -->

    </p>

    <p>
        <a href="view_songs">
            Songs
        </a>
    </p>

    <p>
        <a href="view_albums">
            Albums
        </a>
    </p>

    {% if not info %}
             <a href="add_more_information">
                 Add more information
             </a>
    {% else %}
        {% for link in info %}
             <a href="{{link.first_link}}">
                    {{link.first_link}}
             </a><br>

              <a href="{{link.second_link}}">
                  {{link.second_link}}
              </a><br>

              {{link.email}}

        {% endfor %}
    {% endif %}




</body>
</html>