<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'registration/css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
    <h1>
        Login
    </h1>

<body>
    <center>
        <div class="main">
            <form action="{% url 'login' %}" method="POST">
                <p>
                    {{log_in_form.as_p}}
                </p>
                <p>
                    <input type="submit" value="submit">
                </p>

                {% for message in messages %}

                    <div class="alert alert-success">
                        {{ message }}<br>
                        <a class="close" href="login" data-dismiss="alert">Click here</a>
                    </div>
                {% endfor %}
            </form>
        </div>
    </center>
</body>
</html>
